body {
   margin: 0;
   padding: 0;
   color: rgba(0, 0, 0, 0.6);
}

/* Sezione banner*/
h1{
   color: black;
}
section{
   background-color: rgb(62, 160, 221);
   height:150px;
   background-image: url('../img/pattern.png');
   background-position-y: top;
}
#logo{
   width: 20%;
   height: 45%;
   margin-top: 75px;
}

/* Sezione container */

.container{
   width: 1150px;
   height: 1500px;
   margin: 0 auto;
}

/* Sezione header */

h1{
   margin-bottom: 0;
}
#didascalia{
   margin-top: 0;
   color: rgba(0, 0, 0, 0.4);
}
#titoletto{
   color: lightskyblue;
}

/* Sezione Main */

figcaption{
   color: rgba(0, 0, 0, 0.4);
   font-size: 12px;
}
.text-yellow{
   background-color: yellow;
}

table{
   border-collapse: collapse;
   width: 100%;
   text-align: left;
}
#color-th{
   background-color: rgb(38, 166, 245);
}
.color-td{
   background-color: lightskyblue;
}

/* Footer  */

.computer{
   width: 200px;
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
}
.n1{
   background-image: url('../img/monitor.jpg');
}
.n2{
   background-image: url('../img/graph.jpg');
}

.title{
   color: white;
   margin-top: 10px;
   margin-left: 10px;
}