body {
   margin: 0;
   padding: 0;
}

/* Sezione banner*/
section{
   background-color: rgb(62, 160, 221);
   height:150px;
   background-image: url('../img/pattern.png');
   background-position-y: top;
}
#logo{
   width: 20%;
   height: 45%;
   margin-top: 75px;
   margin-left: 400px;
}

/* Sezione container */
.container{
   width: 1200px;
   height: 1000px;
   margin: 0 auto;
}

/* Sezione header */
h1{
   margin-bottom: 0;
}
#didascalia{
   margin-top: 0;
   color: rgba(0, 0, 0, 0.3);
}
#titoletto{
   color: lightskyblue;
}